PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/votezap
JWT_SECRET=your_super_secret_jwt_key
JWT_EXPIRES_IN=7d
GOOGLE_CLIENT_ID=your_google_id
CUSTOM_IDP_URL=https://auth.rachittaneja.in
CUSTOM_IDP_CLIENT_ID=your_custom_client_id
CUSTOM_IDP_CLIENT_SECRET=your_custom_client_secret
CUSTOM_IDP_REDIRECT_URI=http://localhost:5173/auth/callback
